In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv(r'C:\Users\NIKHIL SINGH\Desktop\ada\linear\linear_search_results.txt')

In [7]:
df

     size  time
0    1000   0.0
1    6000   0.0
2   11000   0.0
3   16000   0.0
4   21000   0.0
5   26000   0.0
6   31000   0.0
7   36000   0.0
8   41000   0.0
9   46000   0.0
10  51000   0.0
11  56000   0.0
12  61000   0.0
13  66000   0.0
14  71000   0.0
15  76000   0.0
16  81000   0.0
17  86000   0.0
18  91000   0.0
19  96000   0.0

In [ ]:
plt.figure(figsize=(8,5))
plt.plot(df["size"], df["time"], marker='o', linestyle='-', label="Linear Search Time")
plt.xlabel("Input Size (n)")
plt.ylabel("Total Time (seconds)")
plt.title("Linear Search Performance")
plt.legend()
plt.grid(True)
plt.show()

NameError: name 'plt' is not defined